.signin, .header__menu-item-reg-link {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.flex-center, .header__menu-item-reg-link, .offer__socials-item, .search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
select,
option {
  outline: none;
  border: none;
}

ul {
  padding: 0;
  list-style: none;
}

.content {
  width: 1140px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 43px 0 0 0;
}

.header__logo-simpcook {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.header__logo mark {
  background-color: #fff;
  font-weight: 700;
  color: #f58d41;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header__menu-item {
  margin-left: 55px;
}

.header__menu-item-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #222222;
}

.header__menu-item-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #57be6c;
  border-radius: 30px;
  position: relative;
}

.header__menu-item-sign-btn {
  display: block;
  background: inherit;
  border-radius: 30px 0 0 30px;
  padding: 6px 6px 6px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.header__menu-item-sign-btn:hover {
  cursor: pointer;
  background: #4fb163;
}

.header__menu-item-sign svg {
  display: block;
  height: inherit;
  padding: 6px 24px 6px 10px;
  border-radius: 0 30px 30px 0;
}

.header__menu-item-sign svg:hover {
  cursor: pointer;
  background: #4fb163;
}

.header__menu-item-reg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: inherit;
  border-radius: 30px;
  padding: 6px 0;
  z-index: -1;
  -webkit-transition: top 0.7s cubic-bezier(0, 0.5, 0.5, 1);
  transition: top 0.7s cubic-bezier(0, 0.5, 0.5, 1);
}

.header__menu-item-reg:hover {
  cursor: pointer;
  background: #4fb163;
}

.offer {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 123px;
  height: 520px;
}

.offer__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.offer__text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #aaa;
}

.offer__socials {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__socials-item {
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 15px;
  margin-right: 34px;
}

.offer__socials-item:hover {
  background: #eee;
}

.offer__button {
  width: 275px;
  display: block;
  background: #57be6c;
  border-radius: 30px;
  padding: 17px 64px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin-top: 58px;
}

.offer__button:hover {
  background: #4fb163;
  cursor: pointer;
}

.search {
  width: 85%;
  margin: 172px auto 0;
  border: 1.5px solid #222222;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.search__list {
  margin-left: 77px;
}

.search__item-category {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #aaa;
}

.search__item-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #222;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='search__item-arrow ml-20' width='25' height='13' viewBox='0 0 26 14' fill='none' xmlns='http://www.w3.org/2000/svg' %3e%3cpath d='M1.07694 0.618647C1.49853 0.197058 2.15824 0.158732 2.62313 0.503668L2.75632 0.618647L13 10.8618L23.2436 0.618647C23.6652 0.197058 24.3249 0.158732 24.7898 0.503668L24.923 0.618647C25.3446 1.04024 25.3829 1.69995 25.038 2.16484L24.923 2.29803L13.8396 13.3814C13.4181 13.8029 12.7583 13.8413 12.2935 13.4963L12.1603 13.3814L1.07694 2.29803C0.613189 1.83428 0.613189 1.08239 1.07694 0.618647Z' fill='black' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.6rem auto, 100%;
}

.search__item-select:hover {
  cursor: pointer;
}

.search__button {
  width: 283px;
  margin-left: 80px;
  display: block;
  background: #57be6c;
  border-radius: 20px;
  padding: 20px 92px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.search__button:hover {
  background: #4fb163;
  cursor: pointer;
}

.fab {
  color: #aaa;
  font-size: 36px;
}

.ingredients {
  width: 115%;
}

.method {
  width: 135%;
}

.dishes {
  width: 60%;
}

.ml-20 {
  margin-left: 20px;
}

.ml-120 {
  margin-left: 120px;
}
/*# sourceMappingURL=style.css.map */